.shadow {
  box-shadow: rgba(192, 108, 12, 0.35) 0px 5px 15px;
}
.sidebar-left {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 5vw;
  background-color: #1f1d2b;
  border-radius: 1rem;
  left: 0;
  min-width: 70px;
}
.logo {
  width: 4rem;
  height: 4rem;
  background-color: #ab7f5491;
  border-radius: 5px;
  padding: 15px;
  margin: 3rem auto;
  box-shadow: rgba(192, 108, 12, 0.35) 0px 5px 15px;
}
.menu__icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 70vh;
  color: #ea736d;
}
.menu__icons span {
  width: 3rem;
  height: 3rem;
  background-color: #2d303e;
  border-radius: 7px;
  padding: 15px;
}
.menu__icons i {
  font-size: large;
}
.menu__icon.active {
  width: 100%;
  height: 10vh;
  background-color: #2d303e;
  color: #fff;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__icon.active span {
  background-color: #ea736d;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(192, 108, 12, 0.35) 0px 5px 15px;
}
.exit {
  color: #ea736d;
  display: block;
  text-align: center;
  margin-top: 2rem;
}
.exit i {
  font-size: large;
}
.sidebar__right {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 7vw;
  background-color: #1f1d2b;
  border-radius: 1rem;
  min-width: 70px;
  right: 0;
}
.sidebar__right--icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5px;
  margin: 3rem auto;
  color: #fff;
  font-size: large;
  background-color: #ea736d;
  padding: 10px;
}
