@import "variables.less";

//mixin
.sidebar(@position, @top,@height,@width,@color, @border) {
  position: @position;
  top: @top;
  height: @height;
  width: @width;
  background-color: @color;
  border-radius: @border;
}
.flex(@display,@align-items,@justify-content) {
  display: @display;
  align-items: @align-items;
  justify-content: @justify-content;
}

.sidebar-left {
  .sidebar(fixed,0, 100vh, 5vw, @dark , 1rem);
  left: 0;
  min-width: 70px;
}
.logo {
  width: 4rem;
  height: 4rem;
  background-color: @logoBg;
  border-radius: 5px;
  padding: 15px;
  margin: 3rem auto;
  .shadow();
}

.menu__icons {
  .flex(flex, center, space-around);
  flex-direction: column;
  height: 70vh;
  color: @orange;
  span {
    width: 3rem;
    height: 3rem;
    background-color: @bgColor;
    border-radius: 7px;
    padding: 15px;
  }
  i {
    font-size: large;
  }
}
.menu__icon {
  &.active {
    width: 100%;
    background-color: @bgColor;
    color: @white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 10vh;
    padding: 27px;
    .flex(flex, center, center);

    span {
      background-color: @orange;
      padding: 15px;
      .flex(flex, center, center);
      .shadow();
    }
  }
}
.exit {
  color: @orange;
  display: block;
  text-align: center;
  margin-top: 2rem;
  i {
    font-size: large;
  }
}

.sidebar__right {
  .sidebar(fixed,0, 100vh, 7vw, @dark , 1rem);
  min-width: 70px;
  right: 0;
  &--icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin: 3rem auto;
    color: @white;
    font-size: large;
    background-color: @orange;
    padding: 10px;
  }
}
