//COLORS
@orange: #ea736d;
@logoBg: #ab7f5491;
@dark: #1f1d2b;
@bgColor: #2d303e;
@white: #fff;
@gray: #818181;

.shadow {
  box-shadow: rgba(192, 108, 12, 0.35) 0px 5px 15px;
}
@max768: ~"(max-width: 768px)";
